# Crypto Data Cleaning

First lets import all the packages that we might need during the cleaning process

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt

Now we need to import the dataset, its in JSON format so we'll use pandas read_json to translate it

In [2]:
data = pd.read_json('may_18_2022.json')

Lets have a quick look at the data using head, columns, describe and info modules of pandas

In [3]:
print(data.head())

                                  Date       Name Symbol    Price  \
0  Historical Snapshot - 28 April 2013    Bitcoin    BTC  $134.21
1  Historical Snapshot - 28 April 2013   Litecoin    LTC    $4.35
2  Historical Snapshot - 28 April 2013   Peercoin    PPC  $0.3865
3  Historical Snapshot - 28 April 2013   Namecoin    NMC    $1.11
4  Historical Snapshot - 28 April 2013  Terracoin    TRC  $0.6469

          Market Cap Circulating Supply
0  $1,488,566,971.96         11,091,325
1     $74,637,021.57         17,164,230
2      $7,250,186.65         18,757,362
3      $5,995,997.19          5,415,300
4      $1,503,099.40          2,323,570

In [4]:
print(data.columns)

Index(['Date', 'Name', 'Symbol', 'Price', 'Market Cap', 'Circulating Supply'], dtype='object')

In [5]:
print(data.describe())

                                          Date     Name Symbol  Price  \
count                                     9414     9414   9414   9414
unique                                     473      192    188   7148
top     Historical Snapshot - 25 February 2018  Bitcoin    BTC  $1.00
freq                                        20      473    473    262

               Market Cap Circulating Supply
count                9414               9414
unique               9414               6350
top     $1,488,566,971.96      8,999,999,999
freq                    1                185

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9414 entries, 0 to 9413
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                9414 non-null   object
 1   Name                9414 non-null   object
 2   Symbol              9414 non-null   object
 3   Price               9414 non-null   object
 4   Market Cap          9414 non-null   object
 5   Circulating Supply  9414 non-null   object
dtypes: object(6)
memory usage: 441.4+ KB
None

In order to clean the date section, we need to get rid of the 'historical snapshot' text, we can then convert it to the datetime type, this way pandas will know that it is a date in this column, making it easier to sort in order of the dates

In [7]:
data.Date = data.Date.str[22:]
data['Date'] = pd.to_datetime(data['Date'])
print(data.sort_values(by='Date', ascending=True))

          Date             Name Symbol       Price           Market Cap  \
0   2013-04-28          Bitcoin    BTC     $134.21    $1,488,566,971.96
1   2013-04-28         Litecoin    LTC       $4.35       $74,637,021.57
2   2013-04-28         Peercoin    PPC     $0.3865        $7,250,186.65
3   2013-04-28         Namecoin    NMC       $1.11        $5,995,997.19
4   2013-04-28        Terracoin    TRC     $0.6469        $1,503,099.40
..         ...              ...    ...         ...                  ...
312 2022-05-15         Polkadot    DOT      $11.80   $11,649,063,178.34
313 2022-05-15        Avalanche   AVAX      $36.54    $9,833,667,775.33
314 2022-05-15  Wrapped Bitcoin   WBTC  $31,259.19    $8,896,487,183.86
303 2022-05-15         Ethereum    ETH   $2,145.71  $259,186,464,086.69
310 2022-05-15      Binance USD   BUSD       $1.00   $17,743,577,941.18

    Circulating Supply
0           11,091,325
1           17,164,230
2           18,757,362
3            5,415,300
4            2,323,570
..                 ...
312        987,579,315
313        269,103,442
314            284,604
303        120,793,055
310     17,735,417,590

[9414 rows x 6 columns]

In [8]:
data['Date'] = pd.to_datetime(data['Date'])
print(data.sort_values(by='Date', ascending=False))

          Date           Name Symbol       Price          Market Cap  \
312 2022-05-15       Polkadot    DOT      $11.80  $11,649,063,178.34
304 2022-05-15         Tether   USDT     $0.9991  $75,681,576,735.59
330 2022-05-15  NEAR Protocol   NEAR       $7.37   $5,073,560,049.77
329 2022-05-15         Cronos    CRO     $0.2035   $5,140,445,398.06
328 2022-05-15        Polygon  MATIC     $0.7376   $5,862,815,861.39
..         ...            ...    ...         ...                 ...
5   2013-04-28        Devcoin    DVC  $0.0003261       $1,424,087.30
4   2013-04-28      Terracoin    TRC     $0.6469       $1,503,099.40
3   2013-04-28       Namecoin    NMC       $1.11       $5,995,997.19
2   2013-04-28       Peercoin    PPC     $0.3865       $7,250,186.65
0   2013-04-28        Bitcoin    BTC     $134.21   $1,488,566,971.96

    Circulating Supply
312        987,579,315
304     75,752,120,651
330        688,659,904
329     25,263,013,692
328      7,948,866,567
..                 ...
5        4,366,620,160
4            2,323,570
3            5,415,300
2           18,757,362
0           11,091,325

[9414 rows x 6 columns]

Now we'll osrt the price column, as this column is coming up as a string instead of a float, first we have to get rid of the dollar sign from the values, we will also have to remove the commas from the number

In [9]:

data['Price'] = data.Price.str[1:]
data['Price'] = data.Price.str.replace(',', '')
data['Price'] = data['Price'].astype('float')
print(data.head())

        Date       Name Symbol     Price         Market Cap Circulating Supply
0 2013-04-28    Bitcoin    BTC  134.2100  $1,488,566,971.96         11,091,325
1 2013-04-28   Litecoin    LTC    4.3500     $74,637,021.57         17,164,230
2 2013-04-28   Peercoin    PPC    0.3865      $7,250,186.65         18,757,362
3 2013-04-28   Namecoin    NMC    1.1100      $5,995,997.19          5,415,300
4 2013-04-28  Terracoin    TRC    0.6469      $1,503,099.40          2,323,570

We'll have to now do the same with the market cap data

In [10]:
data['Market Cap'] = data['Market Cap'].str[1:]
data['Market Cap'] = data['Market Cap'].str.replace(',', '')
data['Market Cap'] = data['Market Cap'].astype('float')
data['Formatted date'] = data['Date'].dt.strftime('%Y-%m-%d')

We also need to remove the commas from the circulating supply number and change it to type int

In [11]:
data['Circulating Supply'] = data['Circulating Supply'].str.replace(',', '')
data['Circulating Supply'] = data['Circulating Supply'].astype('int')

Now lets have another look at the date, and have a quick check to see if the column values are correct

In [12]:
print(data.head())

        Date       Name Symbol     Price    Market Cap  Circulating Supply  \
0 2013-04-28    Bitcoin    BTC  134.2100  1.488567e+09            11091325
1 2013-04-28   Litecoin    LTC    4.3500  7.463702e+07            17164230
2 2013-04-28   Peercoin    PPC    0.3865  7.250187e+06            18757362
3 2013-04-28   Namecoin    NMC    1.1100  5.995997e+06             5415300
4 2013-04-28  Terracoin    TRC    0.6469  1.503099e+06             2323570

  Formatted date
0     2013-04-28
1     2013-04-28
2     2013-04-28
3     2013-04-28
4     2013-04-28

Now we will rename some of the columns to make them more workable and explanatory

In [13]:
data.rename(columns = {'Price': 'Price($)', 'Market Cap': 'Market Cap ($)'}, inplace=True)
print(data.head())

        Date       Name Symbol  Price($)  Market Cap ($)  Circulating Supply  \
0 2013-04-28    Bitcoin    BTC  134.2100    1.488567e+09            11091325
1 2013-04-28   Litecoin    LTC    4.3500    7.463702e+07            17164230
2 2013-04-28   Peercoin    PPC    0.3865    7.250187e+06            18757362
3 2013-04-28   Namecoin    NMC    1.1100    5.995997e+06             5415300
4 2013-04-28  Terracoin    TRC    0.6469    1.503099e+06             2323570

  Formatted date
0     2013-04-28
1     2013-04-28
2     2013-04-28
3     2013-04-28
4     2013-04-28

Now we want to make sure we're putting the right columns in the new dataset, we also ant to get rid of the unformatted date section

In [14]:
data= data[['Formatted date', 'Name', 'Symbol', 'Price($)', 'Market Cap ($)', 'Circulating Supply']]
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9414 entries, 0 to 9413
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Formatted date      9414 non-null   object
 1   Name                9414 non-null   object
 2   Symbol              9414 non-null   object
 3   Price($)            9414 non-null   float64
 4   Market Cap ($)      9414 non-null   float64
 5   Circulating Supply  9414 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 441.4+ KB
None
  Formatted date       Name Symbol  Price($)  Market Cap ($)  \
0     2013-04-28    Bitcoin    BTC  134.2100    1.488567e+09
1     2013-04-28   Litecoin    LTC    4.3500    7.463702e+07
2     2013-04-28   Peercoin    PPC    0.3865    7.250187e+06
3     2013-04-28   Namecoin    NMC    1.1100    5.995997e+06
4     2013-04-28  Terracoin    TRC    0.6469    1.503099e+06

   Circulating Supply
0            11091325
1            17164230
2            18757362
3             5415300
4             2323570

Now we want to convert the formatted date into the datetime type, this will make the column much easier to work with

In [15]:
data['Formatted date'] = pd.to_datetime(data['Formatted date'], format=('%Y-%m-%d'))

Here we use head() to have a quick look at our updated data set and see if all the columns and values look correct, we will also use the info module to check that all our new datatypes are correct for each column,

In [16]:
print(data.head())
print(data.info())

  Formatted date       Name Symbol  Price($)  Market Cap ($)  \
0     2013-04-28    Bitcoin    BTC  134.2100    1.488567e+09
1     2013-04-28   Litecoin    LTC    4.3500    7.463702e+07
2     2013-04-28   Peercoin    PPC    0.3865    7.250187e+06
3     2013-04-28   Namecoin    NMC    1.1100    5.995997e+06
4     2013-04-28  Terracoin    TRC    0.6469    1.503099e+06

   Circulating Supply
0            11091325
1            17164230
2            18757362
3             5415300
4             2323570
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9414 entries, 0 to 9413
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Formatted date      9414 non-null   datetime64[ns]
 1   Name                9414 non-null   object
 2   Symbol              9414 non-null   object
 3   Price($)            9414 non-null   float64
 4   Market Cap ($)      9414 non-null   float64
 5   Circulating Supply  9414 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 441.4+ KB
None

Now we want to create a list of individual coins where we have over a years worth of data on, this could be used for further analysis, we're going to save htese datasets in a seperate folder

In [17]:
coins = data['Name'].unique()

In [18]:
for x in coins:
    single_coin = data[data['Name'] == x]
    if len(single_coin) >= 52:
        single_coin.to_csv(f'coins/{x}.csv', index = False)
    else:
        pass

Now we want to remove the coins from our data set that dont have a years worth of values

In [19]:
for x in coins:
    coin_data_length = data[data['Name'] == x]
    if len(coin_data_length) < 52:
        data.drop(coin_data_length.index, inplace = True)
    
print(data['Name'].unique())
print(data.info())

['Bitcoin' 'Litecoin' 'Peercoin' 'Namecoin' 'Novacoin' 'Nxt' 'Dash' 'XRP'
 'Dogecoin' 'Bytecoin' 'BlackCoin' 'Monero' 'MaidSafeCoin' 'Counterparty'
 'Feathercoin' 'Ethereum' 'Tether' 'USD Coin' 'Cardano' 'Solana'
 'Binance USD' 'Polkadot' 'Wrapped Bitcoin' 'TRON' 'Crypto.com Coin'
 'Chainlink' 'Binance Coin' 'Uniswap' 'Bitcoin Cash' 'Ethereum Classic'
 'Stellar' 'EOS' 'NEM' 'Bitcoin SV' 'Tezos' 'UNUS SED LEO' 'Neo' 'IOTA'
 'Zcash' 'Waves' 'Lisk' 'Steem' 'BitShares' 'Factom' 'YbCoin']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7354 entries, 0 to 9401
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Formatted date      7354 non-null   datetime64[ns]
 1   Name                7354 non-null   object
 2   Symbol              7354 non-null   object
 3   Price($)            7354 non-null   float64
 4   Market Cap ($)      7354 non-null   float64
 5   Circulating Supply  7354 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 402.2+ KB
None

Now we've got rid got rid of the coins without enough information we can begin analysis, we'll start by sorting the data into order, starting with the coin and then the date

In [20]:
data.sort_values(by=['Name', 'Formatted date'], ascending = [True, True], inplace = True, ignore_index = True)

Our data is now clean and ready for analysis

In [21]:
data.to_csv('cleaned_crypto_data.csv', index=True)